@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Slabo+13px);
* { margin:0; padding:0; box-sizing:border-box; }

body {
	color: white;
	text-align: center;
	line-height:1.5;
	text-rendering: optimizeLegibility;
}

#sectionone {
	background-image: url('images/gabeoncar.JPG');
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
}

#twocolumn {
	
}
#slogan {
	padding-top: 20px;
	padding-left: 20px;
	font-family: "Avenir Next";
	color: white;
	font-size: 150px;
	vertical-align: center;
	float: left;
	width: 60%;
}

#brandstatement {
	line-height: 2em;
	padding-top: 45px;
	padding-left: 40px;
	float: right;
	width: 40%;
	font-size: 20px;
	text-align: left;
}

#about {
	background-image: url('images/Ben_3825.JPG');
	background-size: cover;
	font-family: "Avenir Next";
	height: 100vh;
}

#aboutps1 {
	display: block;
	opacity: 0.9;
	background-color: rgba(0,0,0,0.4);
}

#about div {
	float: left;
}

p {
	font-size: 20px 180px;;
	text-align: center;
	font-family: "Avenir Next";
	color: white;
	padding: 20px;
}

nav {
	font-family: "Avenir Next";
	text-align: center;
	list-style-type: none;
	padding-top: 40px;
}

nav a {
	text-align: center;
	font-size: 20px;
	color: white;
	display: inline-block;
	border: 3px solid white;
	padding: 10px 24px;
	margin: 1em 10%;
	border-radius: 1000px;
	text-decoration: none;
}

nav a:hover {
	background: rgba(0,0,0,0.5);
	transition: all .2s ease-in;
	transform: scale(1.1, 1.1);
	color: white;
	text-decoration: none;
}

nav a:visited {
	color: white;
}