@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Slabo+13px);
* { margin:0; padding:0; box-sizing:border-box; transition: all .2s ease-in;}

body {
	text-align: center;
	font-family: "Avenir Next";
	text-rendering: optimizeLegibility;
}

#sectionone {
	background-image: url('images/gabeoncar.JPG');
	-webkit-filter: grayscale(100%);
	background-size: cover;
	background-position: center;
	width: 100%;
	background-attachment: fixed;
	height: 100vh;
	position: relative;
}

#slogan {
	padding-top: 2%;
	color: white;
	font-size: 110px;
	float: left;
	width: 50%;
}

#brandstatement {
	padding-top: 2%;
	padding-left: 3%;
	line-height: 2em;
	text-align: left;
	font-size: 20px;
	float: right;
	width: 50%;
}

.clearfix:after {
	height: 0;
	visibility: hidden;
	display: block;
	clear:both;
}

nav {
	clear: both;
	position: absolute;
	top: 30%;
	left: -25%;
	width: 100%;
}

nav a {
	text-align: center;
	font-size: 20px;
	color: white;
	border: 2px solid white;
	padding: 1% 2.3%;
	margin: 1em;
	border-radius: 100px;
	text-decoration: none;
}

nav a:hover {
	background: rgba(0,0,0,0.5);
	transform: scale(1.1, 1.1);
	color: white;
	text-decoration: none;
}

#headaboutme {
	padding-top: 4%;
	padding-bottom: 4%;
}

#aboutme {
	width: 100%;
	overflow: hidden;
}

#aboutme p {
	color: black;
}

#firstcontent {
	position: relative;
	background-size: cover;
	padding-bottom: 133px;
	color: black;
	float: right;
	width: 50%;
}

#firstcontent p {
	color: black;
	position: absolute;
	top: 50%;
	left: 50%;
	height: 100%;
	transform: translate(-50%, -50%);
}

#firstimage {
	float: left;
	width: 50%;
	overflow: hidden;
	background-size: cover;
	height: 100%;
}

#meagain {
	width: 100%;
	background: white;
	overflow: hidden;
}

#meagain p {
	color: black;
}

#contentme {
    position: relative;
    float: left;
    width: 50%;
}

#contentme p {
	color: black;
	position: absolute;
	top: 50%;
	left: 50%;
	height: 100%;
	transform: translate(-50%);
}

#mepicture {
	float: right;
	width: 50%;
	overflow: hidden;
	background-size: cover;
	height: 100%;
}

#headskills {
	padding-top: 4%;
	padding-bottom: 4%;
}

#skills {
	width: 100%;
	overflow: hidden;
}

#skillspicture {
	float: left;
	width: 50%;
	overflow: hidden;
	background-size: cover;
	height: 100%;
}

#myskills {
	min-width: 600px;
	overflow: hidden;
	float: right;
	width: 50%;
}

#myskills p {
	color: black;
}

#moreskills { 
	width: 100%;
	overflow: hidden;
}

#evenmore {
	min-width: 600px;
	float: left;
	overflow: hidden;
	width: 50%;
}

#evenmore p {
	color: black;
	height: 100%;
}

#moreskillspicture {
	float: right;
	width: 50%;
	overflow: hidden;
	height: 100%;
	min-width: 600px;
}

#headcontact {
	padding-top: 4%;
	padding-bottom: 4%;
}

#contact {

}

#contactpicture {
	float: left;
	width: 50%;
	overflow: hidden;
	height: 100%;
}

#contactcontent {
	position: relative;
	float: right;
	width: 50%;
	overflow: hidden;
	height: 100%;
}

#contactcontent p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: black;
} 

p {
	font-size: 20px;
	text-align: center;
	color: white;
	padding: 3%;
}

@media only screen and (max-width: 1398px) {
	#sectionone {
		position: relative;
	}

	#slogan, #brandstatement {
		float: none;
	}

	#slogan {
		width: 60%;
		position: absolute;
	}

	#brandstatement {
		position: absolute;
		top: 25%;
	}

	nav {
		position: absolute;
		top: 80%;
		left: -25%
		width: 100%;
		float: none;
		clear: none;
		display: block;
	}
}

@media only screen and (max-width: 1139px) {
	#slogan {
		font-size: 100px;
	}

	#firstcontent, #firstimage {
		float: none;
		width: 100%;
	}

	#contentme, #mepicture {
		float: none;
		width: 100%;
	}

	#skillspicture, #myskills {
		float: none;
		width: 100%;
	}

	#evenmore, #moreskillspicture {
		float: none;
		width: 100%;
	}
}

@media only screen and (max-width: 1036px) {
	#slogan {
		font-size: 80px;
	}
}



