body {
	text-align: center;
	font-style: bold;
	color: white;
	font-family: "Avenir Next";
	background-image: url('images/DSC00252.JPG');
	background-size: cover;
	background-position: relative;
	background-repeat: no-repeat;
}

h1 {
	color: white;
}

p {
	
}

ul {
	color: white;
	text-align: center;
	list-style-type: none;
}

#nav li {
	font-size: 20px;
	font-style: bold;
	color: white;
	display: inline;
	padding: 100px;
}

#nav a {
	text-decoration: none;
}

#nav a:visited {
	color: white;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

#slogan {
	font-style: bold;
	font-size: 35px;
}